<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transphobia Detector</title>
    <link rel="stylesheet" type="text/css" href="/css/root.css">
</head>
<body>
<div class="container">
    <h1>Transphobia Detector</h1>
    <h2>Add a new user</h2>
    <form action="/interface/new_user" method="get">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="New user's email" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
